/zaaglijst-poc/node_modules
/zaaglijst-poc/public/hot
/zaaglijst-poc/public/storage
/zaaglijst-poc/storage/*.key
/zaaglijst-poc/vendor
/zaaglijst/poc/.env
/zaaglijst-poc/.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
